@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Notch:wght@200..700&display=swap');
body {
  max-Width: 850px;
  Margin: auto;
  Color: #8B23EB;
font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
h1, h2, h3 {
  font-family: "Stack Sans Notch", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

  Color: white;
  Background-color: black;
  Text-align: center;
  Margin: 10px;
}

nav li {
    list-style-type: none;
    display: inline-block;
    background-color: black;
    padding: 8px;
    margin: 2px;
}
nav a {

}

nav li:hover {

}
.card {
  margin: 20px;
  padding: 20px;
  color: white;
}

.red {
  background-color: red;
}

.green {
  background-color: green

}
.blue {
  background-color: blue
}
